{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-native"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb-base"
  ],
  "rules": {
    "comma-dangle": [2, "never"]
  }
}